<ol class="description">
  <li>Draw a <a href="https://graphicdesign.stackexchange.com/questions/21685/replacing-whiteness-with-transparency-in-cs6">partially transparent image</a> into a layer</li>
  <li>Draw the same image into a mask, but transformed somehow</li>
  <li>Repeat for multiple layers, incrementing or adjusting transformations on each frame.</li>
</ol>
<div class="code">
	{% include pattern-menu.html %}
	<pre class="pseudocode">
		<code class="cpp">ofxLayerMask masker;
ofxTexturePlane plane;
vector&lt;ofxTexturePlane&gt; layers, masks;

void ofApp::setup(){
    increment = 0.02;
    numLayers = 3;
    filename = "translucent-image.png";

    masker.setup(numLayers);
    plane.setup(filename);
    for(int i = 0; i &lt; numLayers; i++) {
        layers.push_back(plane);
        masks.push_back(plane);
    }
}

void ofApp::update(){
    for(int i = 0; i &lt; numLayers; i++) {
        masker.beginLayer(i);
        {
            if(i == 0) { //Layer-specific transforms }
            layers.at(i).draw();
        }
        masker.endLayer(i);

        masker.beginMask(i);
        {
            ofBackground(ofColor::white);
            if(i == 0) { //Layer-specific transforms }
            masks.at(i).draw();
        }
        masker.endMask(i);
    }
}

void ofApp::draw(){
    ofBackground(ofColor::white);
    masker.draw();
}</code>
	</pre>
</div>