<ol class="description">
  <li>Draw a flat color</li>
  <li>Draw a partially transparent texture over the color</li>
  <li>Transform the texture</li>
</ol>
<div class="code">
	{% include pattern-menu.html %}
	<pre class="pseudocode">
		<code class="cpp">float increment;
ofxTexturePlane plane;

void ofApp::setup(){
    increment = 0.02;
    plane.setup("partially-transparent.png");
}

void ofApp::update(){
    plane.incrementTextureScale(-increment);
}

void ofApp::draw(){
    ofBackground(ofColor::red);
    plane.draw();
}</code>
	</pre>
</div>