---
layout: default
title: Daily Sketches
---
{% for t in site.tags %}
	{% assign tag = t.[0] %}
	{% if tag contains 'pattern-' %}
		{% assign pattern = tag | remove_first: "pattern-" | replace: "-", " " | capitalize %}
		{% assign pattern_file = tag | remove_first: "pattern-" | prepend: "patterns/" | append: ".html" %}
		<section class="pattern">
			<header>
				<h1>{{ pattern }}</h1>
				{% include {{ pattern_file }} %}
			</header>
			<div class="examples">
				{% for post in site.tags[tag] %}
				<article>
					<header>
						<h1>{{ post.title }}</h1>
					</header>
					{{ post.content }}
				</article>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endfor %}