---
layout: default
title: Daily Sketches
---
{% for t in site.tags %}
	{% assign tag = t.[0] %}
	{% if tag contains 'pattern-' %}
		{% assign pattern = tag | remove_first: "pattern-" | replace: "-", " " | capitalize %}
		<section class="pattern">
			<header>
				<h1>{{ pattern }}</h1>
				{% if tag contains 'overlay-with-stuff' %}
					<p class="description">Description for overlay with stuff. Praesent ullamcorper non nisi vitae rutrum. Praesent sit amet elit at risus posuere porta.</p>
					<div class="code">
						<a href="#" class="snippet-button">pseudocode</a>
						<pre class="snippet">
							<code class="cpp">Some pseudocode</code>
						</pre>
					</div>
				{% endif %}

				{% if tag contains 'another-pattern' %}
					<p class="description">Description for another pattern. Praesent ullamcorper non nisi vitae rutrum. Praesent sit amet elit at risus posuere porta.</p>
					<div class="code">
						<a href="#" class="snippet-button">pseudocode</a>
						<pre class="snippet">
							<code class="cpp">Some pseudocode</code>
						</pre>
					</div>
				{% endif %}

				{% if tag contains 'some-other-pattern' %}
					<p class="description">Description for some other pattern. Praesent ullamcorper non nisi vitae rutrum. Praesent sit amet elit at risus posuere porta.</p>
					<div class="code">
						<a href="#" class="snippet-button">pseudocode</a>
						<pre class="snippet">
							<code class="cpp">Some pseudocode</code>
						</pre>
					</div>
				{% endif %}
			</header>
			<h2>Examples:</h2>
			<div class="examples">
				{% for post in site.tags[tag] %}
				<article>
					<header>
						<h1>{{ post.title }}</h1>
					</header>
					{{ post.content }}
				</article>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endfor %}